<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
  </head>
  <body>
    <div class="pure-g-r" id="layout">
      <div class="sidebar pure-u">
        <header class="header">
          <hgroup>
            <h1 class="brand-title"><a href="/">Mockra</a></h1>
          </hgroup>
          <nav class="nav">
            <ul class="nav-list">
              <li class="nav-item">
                <a href="/archives.html">Archives</a>
              </li>
            </ul>
          </nav>
          <div class="social">
            <a href="http://github.com/mockra" class="github">
              <i class="fa fa-github fa-2x"></i>
            </a>
            <a href="mailto:david@mockra.com" class="mail">
              <i class="fa fa-envelope-o fa-2x"></i>
            </a>
            <a href="http://twitter.com/mockra_" class="twitter">
              <i class="fa fa-twitter fa-2x"></i>
            </a>
          </div>
        </header>
      </div>
      <div class="pure-u-1">
        {{ content }}
      </div>
    </div>
  </body>
</html>
